@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: Roboto, Open-Sans, Helvetica, Sans-Serif;
  color: #00263b;
  background-color: #f0e3ca;
}

/* Overrides styles of default Link component of React Router */
.override-default:link, 
.override-default:visited,
.override-default:hover,
.override-default:active {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}

.content-container {
  max-width: 1000px;
  min-width: 320px;
  margin: 0% auto;
}


