@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body * {
  font-family: Roboto, Open-Sans, Helvetica, Sans-Serif;
  color: #00263b;
  background-color: #f0efe7;
}

/* Overrides styles of default Link component of React Router */
.override-default:link, 
.override-default:visited,
.override-default:hover,
.override-default:active {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  background-color: #ff6500;
}

.content-container {
  margin: 0% 10%;
}
